docker.enabled = true

process {
  // Default container for all processes
  container = 'ayamgupta/methylseq:latest'
}

params {
    // Input options
    samplesheet                = null
    input_dir                  = null  // Optional: base directory for relative paths in samplesheet
    gtf                        = null
    
    // Analysis options
    file_type                  = 'bismark'
    min_coverage               = 10      
    high_percentile            = 99.9
    meth_diff_threshold        = 25
    qval_threshold             = 0.05
    top_gene_count             = 10
    min_genes_for_enrichment   = 3
    enrichr_databases          = 'GO_Molecular_Function_2023,GO_Biological_Process_2023,GO_Cellular_Component_2023,Reactome_2022,WikiPathway_2023_Human,DGIdb_Drug_Targets_2024'
    
    // Output options
    outdir                     = './results'
    
    // Boilerplate options
    help                       = false
    version                    = false
    
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}